html {
  scroll-behavior: smooth;
}
/* My navigation bar  styling */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Making the navigation bar stick */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* The developer words */
.dev {
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 950;
  padding-bottom: 300px;

  
}

.btn {
  border: 1px solid #3498db;
  background: none;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 80px;
}



.btn4 {
  color: black;
}
.btn{
  margin-left: 400px;
}

#projects {
  font-size: 50px;
  color: #f1f1f1;
}

.proj {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 950;
  padding-left: 0px;
  text-align: center
}

ul a {
  display: inline-block;
  transition: margin-left .5s;
  -webkit-transition: all 0.1s ease-out;
}

ul a:hover {
  
  color: yellow;
  cursor: pointer;
}
.circular--square {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.myself{
  padding-right: 300px;
  padding-top: 10px;
}
