html {
  scroll-behavior: smooth;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 76px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.dev {
  color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 950;
  padding-top: 300px;
  padding-left: 0px;
}

.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn3, .btn4 {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #f3f6f8;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before, .btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before, .btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn3::before, .btn4::before {
  height: 180%;
}

.btn3:hover::before, .btn4:hover::before {
  height: 0%;
}

.button {
  padding-left: 800px;
  padding-top: 200px;
}



#projects {
  font-size: 60px;
  color: #f1f1f1;
}

.proj {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 950;
  padding-left: 0px;
  text-align: center
}